<!DOCTYPE html>

<video id="video" height="650" width=1640px height=720px autoplay muted></video>
<br/>
<form action="/process">
    <button id="snap" style="font-family:Courier New">Take Photo</button>
</form>
<!-- <button id="snap" method="post">Take Photo</button> -->
<canvas id="canvas" width="640" height="640"></canvas>
<style>
    .video {
        margin: 2em auto;
    }
    
    .form {
        width: 100%;
    }
    
    #snap {
        /* font-size: 2em;
        width: 300px;
        height: 90px;
        text-align: center;
        margin: 0em auto; */
        position: absolute;
        left: 45%;
        width: 300px;
        height: 90px;
        font-size: 2em;
        background-color: #788585
    }
</style>
<script type="text/javascript">
    var video = document.getElementById('video');

    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: false
        }).then(function(stream) {
            // video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
        }).catch(function(err) {
            console.log(err.name, err.message);
        });
    }

    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var link = document.createElement('a');
    // link.innerHTML = 'download image';

    // take a snap of the trash
    document.getElementById('snap').addEventListener('click', function() {
        context.drawImage(video, 0, 0, 640, 480);
        // trigger the downloasd
        link.click();
    });

    // download the image
    link.addEventListener('click', function() {
        link.href = canvas.toDataURL("image/png");
        link.download = "trash";
    });
    document.body.appendChild(link);
</script>

<body style="background-color:#DEE7E1"></body>