<img src="https://static.thenounproject.com/png/849831-200.png" class="rotate" width="100" height="100" />
<style>
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
</style>
<style type="text/css">
body, html {
    height: 100%;
    text-align: center;
}

body {
	background-color:#DEE7E1;
}

.rotate {
	display: inline-block;
	width: 200px;
	height: 200px;
	position: relative;
	border: 0px;
	top: 180px;
	animation: rotation 2s infinite linear
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.proc {
	font-family: 'Abel', bold;
	font-size:64px;
	position:relative;
	top: 220px;
}
</style>
<body>
	<div class='proc'><b>Processing...</b></div>
</body>