.htmlNoPages .gwd-motion-path-13me-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "38.76px", "37.23px", "143.24px", "29.77px", "182px", "67px", "182px", "67px", "219.24px", "102.77px", "190.76px", "183.23px", "228px", "219px"], "startTimeMs": 0, "endTimeMs": 1000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-13me-keys-x 1s linear 0s 1 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-13me-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3556, 0.3046, 0.6603, 0.675);
  }
  47.87% {
    transform: translate3d(161.66px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3196, 0.3462, 0.645, 0.6894);
  }
  54.7% {
    transform: translate3d(182px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.234, 0.7833, 0.4047, 0.6853);
  }
  87.54% {
    transform: translate3d(209.08px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4525, 0.195, 0.7582, 0.5847);
  }
  100% {
    transform: translate3d(228px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-13me-anim-y {
  animation: gwd-motion-path-13me-keys-y 1s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-13me-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1917, 0.5181, 0.6442, 0.6405);
  }
  43.76% {
    transform: translate3d(0px, 47.88px, 0px);
    animation-timing-function: cubic-bezier(0.3937, 0.2678, 0.7282, 0.6101);
  }
  54.7% {
    transform: translate3d(0px, 67px, 0px);
    animation-timing-function: cubic-bezier(0.361, 0.2951, 0.6661, 0.6716);
  }
  89.81% {
    transform: translate3d(0px, 187.24px, 0px);
    animation-timing-function: cubic-bezier(0.316, 0.3487, 0.6331, 0.7036);
  }
  100% {
    transform: translate3d(0px, 219px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}