.htmlNoPages .gwd-motion-path-1r80-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-98.55px", "60.32px", "-392.46px", "23.68px", "-491px", "84px", "-491px", "84px", "-591.79px", "145.68px", "-603px", "276px", "-598px", "366px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1r80-keys-x 2s linear 0s 1 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1r80-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3454, 0.3188, 0.6675, 0.6665);
  }
  33.71% {
    transform: translate3d(-270.55px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3317, 0.3342, 0.6536, 0.682);
  }
  61.28% {
    transform: translate3d(-491px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1745, 0.4202, 0.4302, 1.0982);
  }
  100% {
    transform: translate3d(-598px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1r80-anim-y {
  animation: gwd-motion-path-1r80-keys-y 2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1r80-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1648, 0.6604, 0.4605, 0.7438);
  }
  41.37% {
    transform: translate3d(0px, 48.04px, 0px);
    animation-timing-function: cubic-bezier(0.4809, 0.1784, 0.8089, 0.5272);
  }
  61.28% {
    transform: translate3d(0px, 84px, 0px);
    animation-timing-function: cubic-bezier(0.3611, 0.304, 0.6904, 0.6442);
  }
  67.09% {
    transform: translate3d(0px, 113.52px, 0px);
    animation-timing-function: cubic-bezier(0.3666, 0.2931, 0.6744, 0.6625);
  }
  100% {
    transform: translate3d(0px, 366px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}