.htmlNoPages .gwd-motion-path-1r80-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "47px", "94px", "271px", "36px", "307px", "160px", "307px", "160px", "319px", "256px", "309px", "314px", "314px", "404px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1r80-keys-x 2s linear 0s 1 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1r80-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3873, 0.2726, 0.7034, 0.6347);
  }
  5.98% {
    transform: translate3d(23.33px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3512, 0.3118, 0.6663, 0.6682);
  }
  37.37% {
    transform: translate3d(205.42px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2866, 0.342, 0.5777, 0.8203);
  }
  59.78% {
    transform: translate3d(307px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3883, 1.6985, 0.6023, 0.2937);
  }
  100% {
    transform: translate3d(314px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1r80-anim-y {
  animation: gwd-motion-path-1r80-keys-y 2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1r80-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2097, 0.5222, 0.488, 0.7898);
  }
  28.4% {
    transform: translate3d(0px, 67.72px, 0px);
    animation-timing-function: cubic-bezier(0.5263, 0.1722, 0.7671, 0.5158);
  }
  59.78% {
    transform: translate3d(0px, 160px, 0px);
  }
  100% {
    transform: translate3d(0px, 404px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}